<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fileuploaderazurefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ed3ca356-e918-4b11-9710-a0cc8283ddba/resourceGroups/FileUploaderApp/providers/Microsoft.Web/sites/FileUploaderAzureFunctions</ResourceId>
    <UserName>$FileUploaderAzureFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fileuploaderazurefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>